<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This page uses data from mapbox.com and weatherstack.com.</p>
        <img class="portrait" src="/img/me.png">
    </div>

    {{>footer}}
</body>

</html>